{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="index-page-title">Jason Wills Chiu</h1>
</div>
<div class="homepage-blurb row">
    <div class="col-sm-12">
        <p>Jason's about.</p>
    </div>
</div>

<div class="row" id="Blog">
  <div class="col-sm-12">
    <h2 class="homepage_category_title">Blog</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          {% for article in articles if article.category == 'Blog' %}
            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.date.strftime("%m/%y") }} {{ article.title }}</a></li>
          {% else %}
            <li>Coming soon.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<hr/>


{% endblock content %}
